:root {
  --main-dark: #bcaa99;
  --main-light: #f7ebe8;
  --text-color: #6d3b47;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font: 400 18px "Noto Sans", sans-serif;
  letter-spacing: 2px;
  color: var(--text-color);
}

a {
  text-decoration: none;
  transition: color 0.5s;
  color: inherit;
}

a:hover {
  color: var(--main-dark);
}

p,
li {
  margin: 18px 0;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.header {
  background-color: var(--main-dark);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
}

.nav-list {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  transition: color 0.5s;
  color: var(--main-light);
  letter-spacing: 2px;
}

.nav-link:hover {
  color: var(--text-color);
}

.hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
  height: 28px;
  padding: 11px auto;
  cursor: pointer;
  transition: 0.5s;
}

.hamburger-line {
  width: 50px;
  height: 3px;
  display: block;
  background-color: var(--main-light);
  transition: all 0.5s ease-in-out;
}

.hamburger:hover span {
  cursor: pointer;
  background-color: var(--text-color);
}

.hamburger.opened .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.opened .hamburger-line:nth-child(1) {
  transform: translateY(12.5px) rotate(45deg);
}

.hamburger.opened .hamburger-line:nth-child(3) {
  transform: translateY(-12.5px) rotate(-45deg);
}

.main-container {
  max-width: 1200px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  padding: 10px 20px;
}

.overview-column {
  width: 40%;
  background-color: var(--main-light);
}

.main-column {
  width: 60%;
  padding-top: 60px;
}

.section {
  margin: 20px auto;
}

.profile {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 182px;
  height: 243px;
  margin: 20px auto;
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.main-column-section {
  width: 100%;
}

.main-column-section-title {
  border-bottom: 10px solid var(--main-light);
}

.contacts {
  padding: 20px 0;
  letter-spacing: normal;
}

.contacts-list {
  list-style: none;
  padding-left: 0;
}

.section-list {
  padding-left: 25px;
  list-style: none;
}

.education-period {
  color: var(--main-dark);
}

.code {
  display: block;
  overflow-x: auto;
}

.projects-list {
  list-style: none;
}

.my-project {
  text-align: center;
}

.footer {
  background-color: var(--main-dark);
}

.footer-container {
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.footer-item {
  display: flex;
  justify-content: center;
  max-width: 100px;
  width: auto;
  color: var(--main-light);
  letter-spacing: 3px;
}

.github {
  width: 50px;
  height: 50px;
  fill: var(--main-light);
  transition: 0.5s;
}

.rsschool {
  width: 100px;
  height: 37px;
  fill: var(--main-light);
  transition: 0.5s;
}

.github:hover,
.rsschool:hover {
  fill: var(--text-color);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    max-width: 600px;
    width: 100%;
    height: 100vh;
    background-color: var(--main-dark);
    opacity: 0;
    margin: 0;
    padding: 90px;
    transition: 1s cubic-bezier(0.7, 0, 0.25, 1);
  }

  .nav-list {
    flex-direction: column;
  }

  nav.opened {
    right: 0;
    opacity: 1;
  }

  body.opened {
    overflow-y: hidden;
  }

  .main-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .main-column {
    padding-top: 10px;
  }
}

@media (max-width: 425px) {
  .main-container {
    padding: 0;
  }

  .column {
    padding: 10px;
  }
}
