:root {
  --main-dark: #bcaa99;
  --main-light: #f7ebe8;
  --text-color: #6d3b47;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font: 400 20px "Noto Sans", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  transition: color 0.5s;
  color: inherit;
}

a:hover {
  color: var(--main-dark);
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.header {
  background-color: var(--main-dark);
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
}

.nav-list {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  transition: color 0.5s;
  color: var(--main-light);
  letter-spacing: 2px;
}

.nav-link:hover {
  color: var(--text-color);
}

.hamburger {
  display: none;
}

.main-container {
  justify-content: flex-start;
  max-width: 1024px;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px auto;
  padding: 10px;
}

.overview-column {
  max-width: 400px;
  background-color: var(--main-light);
}

.main-column {
  max-width: 600;
  margin-top: 60px;
}

.section {
  margin: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 182px;
  height: 243px;
  margin: 20px auto;
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 3px;
}

.main-column-section-title {
  border-bottom: 10px solid var(--main-light);
}

.contact-list {
  list-style: none;
  padding-left: 0;
}

.section-list {
  padding-left: 25px;
}

.education-period {
  color: var(--main-dark);
}

.code {
  display: flex;
  justify-content: center;
}

.my-project {
  text-align: center;
}

.footer {
  background-color: var(--main-dark);
}

.footer-container {
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.footer-item {
  display: flex;
  justify-content: center;
  width: 100px;
  color: var(--main-light);
  letter-spacing: 3px;
}

.github {
  width: 50px;
  height: 50px;
  fill: var(--main-light);
  transition: 0.5s;
}

.rsschool {
  width: 100px;
  height: 37px;
  fill: var(--main-light);
  transition: 0.5s;
}

.github:hover,
.rsschool:hover {
  fill: var(--text-color);
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .main-column {
    margin-top: auto;
  }
}

@media (max-width: 500px) {
  .nav-list {
    flex-direction: column;
    justify-content: center;
    width: fit-content;
  }
}
